test/QT3-test-suite/prod/ValueComp/valueComp200.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.xpathtest.com/test" 
           xmlns:test="http://www.xpathtest.com/test" 
           elementFormDefault="qualified">
  <xs:element name="comparables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="test:comparable" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comparable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="string" type="xs:string"/>
        <xs:element name="int" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>