test/QT3_1_0/misc/CombinedErrorCodes/XQTY0086.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.org/2007/schema/XQTY0086"
            xmlns:foo="http://www.example.org/2007/schema/XQTY0086"
            xmlns="http://www.example.org/2007/schema/XQTY0086">

	    <xsd:element name="element" type="xsd:QName" />

	    <xsd:element name="root">
		    <xsd:complexType>
			    <xsd:simpleContent>
				    <xsd:extension base="xsd:string">
					    <xsd:attribute name="attr"
						    type="xsd:QName" />
				    </xsd:extension>
			    </xsd:simpleContent>
		    </xsd:complexType>

            </xsd:element>

</xsd:schema>
