test/QT3_1_0/prod/SchemaImport/qischema005.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:s="http://www.w3.org/XQueryTest/hats"
           targetNamespace="http://www.w3.org/XQueryTest/hats"
           elementFormDefault="qualified">

<xs:complexType name="abfType">
    <xs:sequence>
      <xs:element name="a" minOccurs="1" type="xs:string"/>
      <xs:element name="b" minOccurs="0" maxOccurs="2"/>
      <xs:element name="f" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:element name="abf" type="s:abfType"/>


</xs:schema>