test/QT3-test-suite/prod/WindowClause/head_para.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="body">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="h2" type="xs:string"/>
                    <xs:element name="p" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
